
<h1 align="center">Hi I'm Este!</h1>
<br>
<h4 align="center"> I'm a Designer/Developer and I make stuff on the Internet.</h>
<p align="center"><img src="https://farm1.staticflickr.com/380/20144135948_0cd85da863_o.png" alt="Rails!" style="margin-top:25px"></p>


<h4 align="center">I enjoy creating interactive media experiences using Websites Images and Video!</h>

<h4 align="center">I've recently been having fun creating Web Apps using Ruby on Rails.</h>
<p align="center"><img src="https://farm1.staticflickr.com/289/19588255834_9a3ba284f8_o.png" alt="Rails!" style="margin-top:25px"></p>

<h4 align="center">I also work with Animation, Flash and Photoshop.</h>
<p align="center"><img src="https://farm1.staticflickr.com/546/20184644546_6e16c8ccdc_o.png" alt="Animate!" style="margin-top:25px"></p>

<h4 align="center">You can check out my <a href="https://docs.google.com/document/d/1vZYDHzPiD1zu82pwyzO6vm9ZHWql5-44phwPrHWLK3o/edit?usp=sharing" target="_blank">Resume</a> and some of my recent work here on my portfolio!</h>
<br>
<h4 align="center">If you’d like to say hello, shoot me an email at <a href="mailto:estevanseyfried@gmail.com">estevanseyfried@gmail</a></h>
<br/>
<br/>
<br/>
<br/>