
<h1 align="center">Hi I'm Este!</h1>
<br>
<h4 align="center"> I'm a Designer/Developer and I make stuff on the Internet.</h4>
<br>
<h4 align="center">I enjoy creating interactive media experiences using Websites Images and Video!</h4>

<h4 align="center">I've recently been having fun creating Web Apps using Ruby on Rails.</h4>
<p align="center"><img src="https://farm1.staticflickr.com/289/19588255834_a5034e7955_o.png" alt="Rails!"></p>

<h4 align="center">I also work with animation, Flash and Photoshop.</h4>
<p align="center"><img src="https://farm1.staticflickr.com/546/20184644546_6e16c8ccdc_o.png" alt="Animate!"></p>

<h4 align="center">You can check out some of my recent work here on my portfolio!</h4>
<br>
<h4 align="center">If you’d like to say hello, shoot me an email at <a href="mailto:estevanseyfried@gmail.com">estevanseyfried@gmail</a></h4>
<br/>
<br/>