<h1>Contact Me</h1>
<br>
<h4>I'm currently looking for work and I'd appreciate any feedback. Need to reach me?</h4>
<br/>
<h4>Shoot me an Email: <a href="mailto:estevanseyfried@gmail.com">EstevanSeyfried@gmail</a></h>
<h4>Check out my <a href="https://docs.google.com/document/d/1vZYDHzPiD1zu82pwyzO6vm9ZHWql5-44phwPrHWLK3o/edit?usp=sharing" target="_blank">Resume</a><h>
